 <h1>Finished the Course!</h1>.
  <h2>This class was very hard. It was also fun.I was juggling about 5 classes and trying to finish this one up. I needed this class and the others in order to get my AS. Super happy half way through I got into Asu. I also appreciate that you where their to help me along the way.</h2>
 